# ignore sym link to SDK directory
nordic_sdk

# output build directory
target/pca10056/s140/ses/Output
target/pca10056/s140/ses/*.jlink
target/vband_v1/s140/ses/Output
target/vband_v1/s140/ses/*.jlink

# for saadc example
/examples/saadc/pca10056/blank/ses/Output
/examples/saadc/pca10056/blank/ses/*.jlink
